---
title: Welcome!
---

<p>Welcome to ROBCO Industries (TM) Termlink</p>
<p>Terminal of B. Kelly</p>
<p>PRIVATE PROPERTY</p>
<p>I do NOT grant anyone the right to look through the contents of this device.</p>
<ul class="choices">
  <li><a href="plants">Plants</a></li>
  <li><a href="recipes">Recipes</a></li>
  <li><a href="scrap">Scrap</a></li>
</ul>
<%# <p>&gt; &block;</p> %>
